/*
**   < : > < : > < : > < : > < : > < : > < : > < : >
*/

aside {
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 28px 5px 20px 5px;
    /* margin-right: 280px; */
} 

/*
**   < : > < : > < : > < : > < : > < : > < : > < : >
*/

div.lateral-1 {
    box-shadow: -1em 0 1px white, -1px 0.5px 1px hsla(231, 23%, 11%, 0.12); /* Malandragem da sombra */
    letter-spacing: 0.5px;
} 

a.lateral-11, div.lateral-12, div.lateral-13 {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 16px;
    text-decoration: none;
}

div.l11 {
    color: #fe2c55;
    background: #ffffff url("../../geral/imagens/ca-rosa.png") no-repeat top right;
    background-size: contain;
    height: 27px;
    width: 27px;
    padding: 14px;
    margin-right: 12px;
}div.l12 {
    background: #ffffff url("../../geral/imagens/instagram-preto.png") no-repeat top right;
    background-size: contain;
    height: 27px;
    width: 27px;
    margin-right: 12px;
}div.l13 {
    background: #ffffff url("../../geral/imagens/twitter-preto.png") no-repeat top right;
    background-size: contain;
    height: 27px;
    width: 27px;
    margin-right: 12px;
}

p.l11, p.l12, p.l13 {
    font-size: 16px;
    font-weight: 600;
    align-self: center;
}
p.l11 {
    color: #fe2c55;
}

/*
**   < : > < : > < : > < : > < : > < : > < : > < : >
*/

div.lateral-2 {
    box-shadow: -1em 0 1px white, -1px 0.5px 1px hsla(231, 23%, 11%, 0.12); /* Malandragem da sombra */
    /* height: 40vh;
    overflow: auto; */
} p.tohpicos-titulo {
    color: #16182394;
    font-size: 14px;
    font-weight: 600;
    margin: 22px auto 18px;
} p.tohpicos-ver-tudo {
    color: #fe2c55;
    font-size: 14px;
    font-weight: 600;
    margin: 18px auto 22px;
} 

div.tohpico {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px auto;
} div.tohpico div.tohpico-imagem {
    background-color: #fe2c56ee;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    border-radius: 20px;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin-right: 12px;
    opacity: 0.65;
    z-index: -1;
} div.tohpico p.tohpico-sub {
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 700;
} div.tohpico p.tohpico-principal {
    color: #161823bf;
    font-size: 12px;
}

/*
**   < : > < : > < : > < : > < : > < : > < : > < : >
*/

div.lateral-3 {
    box-shadow: -1em 0 1px white, -1px 0.5px 1px hsla(231, 23%, 11%, 0.12); /* Malandragem da sombra */
} p.conteuhdos-titulo {
    color: #16182394;
    font-size: 14px;
    font-weight: 600;
    margin: 22px auto 18px;
} p.conteuhdos-ver-mais {
    color: #fe2c55;
    font-size: 14px;
    font-weight: 600;
    margin: 18px auto 22px;
} 

a.conteuhdo {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px auto;
    text-decoration: none;
    color: #000;
} a.conteuhdo div.conteuhdo-imagem {
    background-color: #fe2c56ee;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    border-radius: 20px;
    height: 32px;
    width: 32px;
    margin-right: 12px;
} a.conteuhdo p.conteuhdo-nome {
    display: inline;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 700;
} a.conteuhdo p.conteuhdo-origem {
    color: #161823bf;
    font-size: 12px;
} a.conteuhdo div.conteuhdo-verificado {
    display: inline;
    background: #fff url("../../geral/imagens/verificado.png") no-repeat top center;
    background-size: contain; 
    border-radius: 9px;
    padding: 0 6.5px 0 6.5px;
    margin-left: 5px;
}

/*
**   < : > < : > < : > < : > < : > < : > < : > < : >
*/

div.lateral-4 p{
    color: #16182380;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.6px;
    margin: 21px auto;
}