* {
    box-sizing: border-box;
    margin: 0;
} 

body {
    color: rgb(22, 24, 35);
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto 1085px auto;
    height: 60px;
    width: 100vw;
    box-shadow: 0px 1px 1px rgba(22, 24, 35, 0.12);
    position: fixed;
    top: 0;
    left: 0;
} 

div.cabecca-conteuhdo {
    max-width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    height: 60px;
}

div.cabecca-1 {
    align-self: center;
    color: rgb(22, 24, 35);    
    
} div.cabecca-1 a {
    color: rgb(22, 24, 35);
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
} span.destaque {
    margin: auto 1.5px auto 2px;
    font-size: 32px;
    font-weight: 800;
    text-shadow: 1.1px 1.3px 2px #fe2c55, -1.1px -1.2px 2px #25f4ee;
}

div.cabecca-2 { 
    align-self: center;
    background-color: #f1f1f2;
    border-radius: 20px;
    color: #16182390;
    letter-spacing: 0.8px;
    padding: 13px;
    text-align: center;
    width: 320px;
} 

div.cabecca-3 {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 220px;
} a.cabecca-b1 {
    align-self: center;
    color: #161823;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
} a.cabecca-b2 {
    background-color: #fe2c55;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 22px;
    text-decoration: none;
}

div.corpo-principal {
    display: grid;
    grid-template-columns: 330px 760px;
    max-width: 1080px;
    margin: 50px auto 0 auto;
}